@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    text-decoration: none;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 10px;
    color: rgb(41, 40, 40);
    list-style: none;
    text-decoration: none;
}

.cabecalho-titulo {
    font-size: 38px;
    font-weight: 700;
    margin-left: -310px;
    margin-top: 50px;
}


.icones-header{
    top: 61px;
    margin-left: 1450px;
    position: relative;  
    margin-right: 10px;
    
}

.cabecalho-menu{
    display: flex;
    gap: 32px;
    margin-right: -308px;
}

.cabecalho-menu-item {
    margin-top: 55px;
    height: 21px;
    cursor: pointer;
}

.icone-compra{
    width: 25px;
    height: 23px;
    cursor: pointer;
    margin-top: 8px;
    position: absolute;
    padding-right: 50px;
}

.selecao{
    border-radius: 100;
}

.selecao-itens{
    display: flex;
    gap: 32px;
    margin-left: 750px;
    text-decoration: none;
    font-size: 15px;
    list-style: none;
    margin-top: 20px;
    text-transform: uppercase;
    font-family: 'Varela Round', sans-serif;
    text-decoration: none;
}

.selecao-itens a {
    color: black;
    height: 300px;
}

.texto-produtos {
    margin-left: 260px;
    margin-top: 120px;
}

.texto-principal {
    font-size: 22px;
    font-family: 'Varela Round', sans-serif;
}

.produtos-caixa {
    padding: 50px 0;
    height: 700px;
    margin-top: 50px;
}

.produtos {
    display: flex;
    gap: 100px;
    margin-left: 120px;
    margin-top: 55px;
}

.produtos-item {
    height: 300px;
    width: 250px;
    border-color: black;
    border: 30px;
    text-align: center;
    font-family: 'Varela Round', sans-serif;
    border: 2px solid #000;
    background-color: white;
}

.produtos-tem h4 {
    font-family: 'Varela Round', sans-serif;
}

#produto-titulo {
    margin-top: 20px;
}

.produto-botao {
    margin-top: 180px;
    font-size: 50px;
}

.produtobotao {
    margin-top: 210px;
    border-radius: 10px;
    background-color: #000;
    color: white;
    width: 90px;
    height: 22px;
}

.cor-verde {
    color: rgb(67, 114, 67);
}

footer{
    background-color: rgb(67, 114, 67);
    padding: 50px 0;
    margin-top: 20px;
    max-height: 350px;
}

.container-footer{
    max-width: 1400px;
    padding: 0 4%;
    margin: auto;
}

.row-footer{
    display: flex;
    flex-wrap: wrap;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}

.footer-col h4{
    font-size: 22px;
    color: white;
    margin-bottom: 20px;
    font-weight: 500;
    position: relative;
    text-transform: uppercase;
    font-family: 'Varela Round', sans-serif;
}

.footer-col ul{
    list-style: none;
}

.footer-col ul li{
    margin: 10px 0;
    font-family: 'Varela Round', sans-serif;
}

.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
    font-family: 'Varela Round', sans-serif;
}

.footer-col ul li a:hover{
    color: #cecdcd;
    padding-left: 10px;
}

.footer-col .medias-socias{
    margin-top: 30px;
}

.footer-col .medias-socias a{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-decoration: none;
    border-radius: 50%;
    color: white;
    border: 1px solid white;
    transition: all 0.5s ease;
}

.footer-col .medias-socias a i{
    font-size: 20px;
}

.footer-col .medias-socias a:hover{
    color: #415aca;
    background-color: white;
}

.footer-col .form-sub input{
    width: 100%;
    padding: 10px;
    font-size: 15px;
    outline: none;
    border: 1px solid white;
    color: white;
    background-color: rgb(67, 114, 67);
    font-family: 'Varela Round', sans-serif;
}
.footer-col .form-sub input::placeholder{
    color: white;
}
.footer-col .form-sub button{
    width: 100%;
    margin-top: 10px;
    padding: 10px; 
    font-size: 17px;
    outline: none;
    border: none;
    cursor: pointer;
    color: rgb(67, 114, 67);
    border-radius: 3px;
    font-weight: bold;
    background-color: white;    
    font-family: 'Varela Round', sans-serif;    
}

a{
    font-family: 'Lato', sans-serif;
}

.se-inscreva{
    margin-top: 8px;
    font-family: 'Varela Round', sans-serif;
}

    .conteudo-principal {
        width: 65%;
        margin-bottom: 200px;
        text-align: center;
        margin-left: 15px;
    }

    .conteudo-principal-escrito-titulo {
        font-size: 50px;
    }

    .conteudo-principal-subtitulo {
        font-size: 17px;
        padding: 15px;
        font-weight: 200;
    }

    .lista-filho {
        font-size: 16px;
        margin-left: -10%;
        padding: 5px;
    }

    .conteudo-secundario {
        text-align: center;
        padding: 30px;
    }

    .conteudo-principal-imagem {
        width: 0;
    }

.conteudo-principal-escrito-botao{
    background: linear-gradient(to right, #4B0082, #9370DB);
    width: 180px;
    height: 60px;
    border: none;
    box-shadow: 4px 5px 4px rgba(147,112,219);
    border-radius: 20px;
    font-weight: 300;
    font-size: 17px;
    color: white;
    cursor: pointer;
}

button:hover{
    animation-name: botao;
    animation-duration: 0.5s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
}

@keyframes botao {
    0%{
        transform: scale(1);
    }

    100%{
        transform: scale(1.05);
    }
}

/* Responsivo 1450px*/
@media (max-width:1450px) {
    .footer-col {
        width: 50%;
    }

    .cabecalho {
        width: 100%;
        position: relative;
    }

    .cabecalho-titulo {
        font-size: 25px;
    }

    .cabecalho-menu-item {
        font-size: 13px;
        text-align: center;
    }

    .conteudo-principal {
        width: 65%;
        margin-bottom: 200px;
        text-align: center;
        margin-left: 15px;
    }

    .conteudo-principal-escrito-titulo {
        font-size: 50px;
    }

    .conteudo-principal-subtitulo {
        font-size: 17px;
        padding: 15px;
        font-weight: 200;
    }

    .lista-filho {
        font-size: 16px;
        margin-left: -10%;
        padding: 5px;
    }

    .conteudo-secundario {
        text-align: center;
        padding: 30px;
    }

    .conteudo-principal-imagem {
        width: 0;
    }
}
