* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: white;
    max-height: 100vh;
}

.cabecalho {
    display: flex;
    padding: 10px;
}

.cabecalho-titulo {
    font-size: 38px;
    font-weight: 700;
    margin-left: 61px;
    margin-top: 50px;
}

.conteudo {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

/* .conteudo-principal-escrito {
    line-height: 1rem;
} */

.conteudo-principal-escrito-titulo {
    padding: 10px;
    font-size: 55px;
    margin-left: 61px;
    margin-top: 25px;
    margin-right: 61px;
    margin-bottom: -15px;
}

.conteudo-principal-subtitulo {
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    margin-left: 61px;
    margin-right: 61px;
    margin-top: 0.8rem;
    line-height: 1.2rem;
}

.conteudo-principal-imagem {
    height: 100%;
}

.imgconfig {
    width: 100vh;
    display: flex;
    margin-top: -200px;
    flex-direction: column;
}

.cor-verde {
    color: rgb(67, 114, 67);
}

.conteudo-principal-escrito-botao {
    padding: 10px;
    font-size: 1rem;
    margin-left: 61px;
    margin-top: 25px;
    border-radius: 1px;
    border: none;
    cursor: pointer;
    background: rgb(67, 114, 67);
    font-weight: 500;
}

.conteudo-principal-escrito-botao a {
    text-decoration: none;
    color: white;
}

.conteudo-principal-escrito-botao:hover {
    background: rgb(62, 100, 62);
}

/* Para a barra de rolagem em navegadores baseados em Webkit */
::-webkit-scrollbar {
    width: 8px;
    /* Largura da barra de rolagem */
    height: 8px;
    /* Altura da barra de rolagem horizontal */
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    /* Cor da parte deslizante da barra */
    border-radius: 10px;
    /* Bordas arredondadas */
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1);
    /* Cor do trilho da barra de rolagem */
    border-radius: 10px;
    /* Bordas arredondadas */
}

/* @media (max-width:1238px) {


    .conteudo-principal-imagem {
        width: 0;
    }

    .conteudo-principal-escrito-titulo {
        max-width: 100vh;
        margin-right: 18px;
    }

    .conteudo-principal-subtitulo {
        max-width: 100vh;
        margin-right: 18px;
        font-size: 20px;
    }
} */

/* Adicione isso ao seu CSS */
@media (max-width: 2560px) {
    .imgconfig {
        width: 80%;
        display: flex;  
        margin-top: -200px;
        flex-direction: column;
    }
}

/* Para telas menores que 768px (tamanho comum para tablets) */
@media (max-width: 768px) {
    .conteudo {
        flex-direction: column;
    }

    .conteudo-principal-escrito {
        margin-bottom: 20px;
    }

    .conteudo-principal-imagem {
        width: 100%;
        height: auto;
    }

    .imgconfig {
        margin-top: 0;
        width: 100%;
    }
}

/* Para telas menores que 480px (tamanho comum para smartphones) */
@media (max-width: 480px) {
    .cabecalho-titulo {
        font-size: 24px;
        margin-left: 20px;
    }

    .conteudo-principal-escrito-titulo {
        font-size: 30px;
        margin-left: 20px;
    }

    .conteudo-principal-subtitulo {
        font-size: 16px;
        margin-left: 20px;
    }

    .conteudo-principal-escrito-botao {
        margin-left: 20px;
    }
}