* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: white;
    max-height: 100vh;
}

.cabecalho {
    display: flex;
    padding: 10px;
}

.cabecalho-titulo {
    font-size: 38px;
    font-weight: 700;
    margin-left: 61px;
    margin-top: 50px;
}

.conteudo {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

/* .conteudo-principal-escrito {
    line-height: 1rem;
} */

.conteudo-principal-escrito-titulo {
    padding: 10px;
    font-size: 55px;
    margin-left: 61px;
    margin-top: 25px;
    margin-right: 61px;
    margin-bottom: -15px;
}

.conteudo-principal-subtitulo {
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    margin-left: 61px;
    margin-right: 61px;
    margin-top: 0.8rem;
    line-height: 1.2rem;
}

.conteudo-principal-imagem {
    height: 100%;
}

/* Início modal (lista) */
.modal {
    display: none;
    position: fixed;
    z-index: 1000; /* Aumente o valor do z-index */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.6);
    padding-top: 120px;
}

.modal-content {
    background-color: #fff;
    margin: 5% auto;
    color: #333;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 500px;
    transition: all 0.3s ease-in-out;
    z-index: 1001; /* Certifique-se de que o conteúdo do modal também tenha um valor alto */
}

.modal-content h2 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
}

.modal-content label {
    display: block;
    margin-bottom: 15px;
    font-size: 18px;
}

.modal-content input[type="text"],
.modal-content input[type="email"],
.modal-content input[type="tel"] {
    width: 100%;
    padding: 15px;
    margin-bottom: 25px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    font-size: 18px;
}

.modal-content button[type="submit"] {
    background-color: rgb(67, 114, 67);
    color: #fff;
    padding: 15px 30px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    width: 100%;
}

.modal-content button[type="submit"]:hover {
    background-color: #3e8e41;
}

.modal-botao {
    background-color: #fff;
    color: rgb(31, 30, 30);
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    /* margin-left: 70px; */
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    width: 100%;
    font-weight: 500;
    margin-top: 10px;
}

.modal-botao:hover {
    background: rgb(197, 197, 197);
}

label {
    display: block;
    margin-bottom: 3px;
    font-weight: 400;
    margin-top: 12px;
}

/* .modal-content h2 {
    font-size: 30px;
    width: 67%;
    line-height: 1.9rem;
} */

input[type="text"],
input[type="email"],
input[type="tel"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 3px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 1rem;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="tel"]:focus {
    outline: none;
    border-color: rgba(56, 55, 55, 0.5);
}

.close {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 28px;
    cursor: pointer;
    color: #666;
}

.close:hover {
    color: #f00;
}

.imgconfig {
    width: 100vh;
    display: flex;
    margin-top: -200px;
    flex-direction: column;
}

.cor-verde {
    color: rgb(67, 114, 67);
}

.conteudo-principal-escrito-botao {
    background-color: rgb(67, 114, 67);
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: 0;
    transition: background-color 0.3s ease;
    width: 180px;
    height: 50px;
    margin-top: 10px;
    margin-left: 65px;
}

.conteudo-principal-escrito-botao:hover {
    background: rgb(62, 100, 62);
}

/* Para a barra de rolagem em navegadores baseados em Webkit */
::-webkit-scrollbar {
    width: 8px;
    /* Largura da barra de rolagem */
    height: 8px;
    /* Altura da barra de rolagem horizontal */
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.2);
    /* Cor da parte deslizante da barra */
    border-radius: 10px;
    /* Bordas arredondadas */
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0.1);
    /* Cor do trilho da barra de rolagem */
    border-radius: 10px;
    /* Bordas arredondadas */
}

/* Adicione isso ao seu CSS */
@media (max-width: 2560px) {
    .imgconfig {
        width: 80%;
        display: flex;
        margin-top: -200px;
        flex-direction: column;
    }
}

/* Para telas menores que 768px (tamanho comum para tablets) */
@media (max-width: 1024px) {
    .conteudo {
        flex-direction: column;
    }

    .conteudo-principal-escrito {
        margin-bottom: 20px;
    }

    .conteudo-principal-imagem {
        width: 100%;
        height: auto;
    }

    .imgconfig {
        margin-top: 0;
        width: 100%;
    }

    .modal-content {
        width: 80%;
        max-width: 400px;
    }
}

/* Para telas menores que 768px (tamanho comum para tablets) */
@media (max-width: 768px) {
    .conteudo {
        flex-direction: column;
    }

    .conteudo-principal-escrito {
        margin-bottom: 20px;
    }

    .conteudo-principal-imagem {
        width: 100%;
        height: auto;
    }

    .imgconfig {
        margin-top: 0;
        width: 100%;
    }

    .modal-content {
        width: 80%;
        max-width: 400px;
    }
}

/* Para telas menores que 480px (tamanho comum para smartphones) */
@media (max-width: 480px) {
    .cabecalho-titulo {
        font-size: 24px;
        margin-left: 20px;
    }

    .conteudo-principal-escrito-titulo {
        font-size: 30px;
        margin-left: 20px;
    }

    .conteudo-principal-subtitulo {
        font-size: 16px;
        margin-left: 20px;
    }

    .conteudo-principal-escrito-botao {
        margin-left: 20px;
    }

    .modal-content {
        width: 90%;
        max-width: 300px;
    }
}

@media (max-width: 320px) {
    .modal-content {
        width: 75%;
        max-width: 300px;
    }
}