* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: white;
}

.cabecalho {
    display: flex;
    padding: 10px;
}

.cabecalho-titulo {
    font-size: 38px;
    font-weight: 700;
    margin-left: 61px;
    margin-top: 50px;
}

.conteudo {
    display: flex;
    flex-direction: row;
}

.conteudo-principal-escrito-titulo {
    padding: 10px;
    font-size: 55px;
    margin-left: 61px;
    margin-top: 25px;
}

.conteudo-principal-subtitulo {
    padding: 10px;
    font-size: 18px;
    font-weight: 500;
    margin-left: 61px;
    margin-top: 22px;
}

.imgconfig {
    max-width: 90vh;
    display: flex;
    margin-top: -200px;
    flex-direction: column;
}

.cor-verde {
    color: rgb(67, 114, 67);
}

.conteudo-principal-escrito-botao {
    padding: 10px;
    font-size: 17px;
    margin-left: 61px;
    margin-top: 20px;
    border-radius: 1px;
    border: none;
    cursor: pointer;
    background: rgb(67, 114, 67);
    color: white;
}

@media (max-width:1238px) {
    .conteudo-principal-imagem {
        width: 0;
    }

    .conteudo-principal-escrito-titulo {
        max-width: 100vh;
        margin-right: 18px;
    }

    .conteudo-principal-subtitulo {
        max-width: 100vh;
        margin-right: 18px;
        font-size: 20px;
    }
}





